<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <% if @train.route %>
    <strong> Поезд на маршруте:</strong> <%= @train.route.name %>
  <% else %>
  	У поезда нет маршрута
  <% end %>  
</p>

<p>
  <table>
    <thead>
      <td width="70px"><strong>Coupe:</strong></td>
      <td><strong>Economy:</strong></td>
    </thead>
    <tbody>   
      <td>
        <ul>
          <% @train.railway_carriages.where(type: "CoupeCarriage").each do |carriage| %>
            <li><%= link_to carriage.number, carriage %></li>
          <% end %>
        </ul>        
      </td>
      <td>
        <ul>
          <% @train.railway_carriages.where(type: "EconomyCarriage").each do |carriage| %>
            <li><%= link_to carriage.number, carriage %></li>
          <% end %>
        </ul>        
      </td>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
