<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @ticket.user.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>Fio:</strong>
  <%= @ticket.fio %>	
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train.number if @ticket.train %>
</p>

<p>
  Departure time from <strong><%= @ticket.first_station.title %></strong> : </br>
  <%= @ticket.first_station.time_in_dep(@ticket.train.route) %>
</p>

<p>
  Arrive to <strong><%= @ticket.last_station.title %></strong> : </br>
  <%= @ticket.last_station.time_in_arr(@ticket.train.route) %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
