<%= form_with(model: [:admin, ticket], local: true) do |form| %>
  <%= render "common/errors", resource: ticket %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :ticket_number %>
  </div>

  <div class="field">
    <%= form.label :fio %>
    <%= form.text_field :fio, id: :fio %>
  </div>

  <div class="field">
     <%= form.hidden_field :first_station_id %>
  </div>

  <div class="field">
     <%= form.hidden_field :last_station_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :train_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
